<div class="text-center padded" id="footer">
 <ul class=list-inline>
   <li>
    <% link_to "#" do %>
    <i class="fa fa-2x fa-youtube"></i>
    <% end %>
  </li>
  <li>
   <% link_to "#" do %>
   <i class="fa fa-2x fa-instagram"></i>
   <% end %>
 </li>
 <li>
  <% link_to "#" do %>
  <i class="fa fa-2x fa-facebook"></i>
  <% end %>
</li>
<li>
 <% link_to "#" do %>
 <i class="fa fa-2x fa-twitter"></i>
 <% end %>
</li>
</ul>

<p>This is a Airbnb Home challenge @ LeWagon</p>
</div>
