<ul class="list-inline text-center padded">
  <% ["seb", "anne", "romain"].each do |member| %>
    <li>
      <%= image_tag "#{member}.jpg", class: "img-circle", width: 200 %>
      <h3><%= member.capitalize %></h3>
    </li>
  <% end %>
</ul>
